<!DOCTYPE html>
<html>
<head>
  <title>Tim</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p>
		<div>
			<h1>Tim is a coding genius</h1>
		</div>
	</p>

<%= yield %>

</body>
</html>